---
import BaseLayout from "../layouts/BaseLayout.astro"
---
<BaseLayout>
<button class="mt-6">
    <a
      href="/pag/test"
      class="border-2 border-blue-600 py-1 px-2 rounded-md">publication</a
    >
  </button>
  <p>Hola!</p>
</BaseLayout>
